.message-footer{
    width:100%; 
    height:62px;
    background-color:#d1d7db;
    display:flex;
}
.first{
width:10%;
}
.second{
 width:80%;
 display:flex;
 align-items: center;
 justify-content: center;
}
.third{
width:10%;
display:flex;
align-items: center;
justify-content: center;
}
input{
    width:94%;
    height:40px;
    border-radius: 10px;
    border:none;
    font-size:15px;
    padding-left: 20px;
}