


<div class="main">
    <div class="one">
      <img src="./../../assets/images/about.jpg">
    </div>
    <div class="two">
        <img class="img" src="./../../assets/images/blue-logo.png">
    </div>
</div>
<div class="three">
    <h1>WEECREDIT</h1>
    <p>We are partner for several Credit report companies, Lender for Personal & Payday Loans. 
        We work directly with several Mortgage refinance & Home loan companies. Getting a Client
         the lowest Annual Percentage Rate is what we are good at. If you need more information about
          our services please Contact us, today.

    </p>
</div>

