<div class="topcontainer">
    <div class="main" *ngIf="hideContent">
<div class="signup">
    <form>
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.userName">
        <input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email">
        <input type="password" name="pswd" placeholder="Password" [(ngModel)]="signupObj.password">
        <button (click)="onSignUp()">Sign up</button>
    </form>

</div>
</div>
</div>