.head{
    width:100%;
    margin-left: 15%;
}
.content{
    font-size: 35px;
    font-style: sans-serif;
    font-weight: bold;
    color:#4d94ff;
}
.heading{
    text-align: center;
}
.card{
    background-color: white;
    width:70%;
    height:300px;
    box-shadow: 15px 15px 30px grey,-15px -15px 30px white;
    border-radius: 20px;
    margin:2%;
    display:flex;
}
.one{
    width:25%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.two{
    width:45%;
    margin:1%;
}
.three{
    width:30%;
    display:flex;
    align-items: center;
    justify-content: center;
}
span{
    color:#4d94ff;
    font-size: 20px;
}
img{
    width:120px;
    height:50px;
}
.main{
    font-size: 35px;
    font-style: sans-serif;
    font-weight: bold;
    color:#4d94ff;
}
.para{
    font-size: 20px;
    font-style: sans-serif;
    color:darkgray;
}
li{
    font-size: 17px;
    color:darkgray;
}
button{
    background-color: #4d94ff;
    border-radius: 5px;
    width:120px;
    height:50px;
    color:white;
    border:none;
}
