<div class="login-main" >
    <router-outlet></router-outlet>
     <div class="log">
         <div class="main">
 
             <div class="login-container"  >
                 <div class="login">
                     <div class="head">
                         <p>Login Now</p>
                     </div>
                    <div class="content">
                    
                       
                    </div>
                    <div class="dont-account">
                       <span>Dont have an Account</span>
                    </div>
             
                     
                 </div>
                
             </div>
             <div class="image">
                   <img src="../../../assets/images/employee.jpg">
             </div>
         
 
         </div>
         
 
        
 
 
 
 
         
 
     </div>
 
     
 
 
 
 </div>
 
 
 
         
 
