.signup{
    width:100%;
    height:710px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    background-size:100% 710px ;
}
.signup-main{
    width:400px;
    height:450px;
    background-size: 400px 450px;
    background-color:lightgrey;
    box-shadow:-20px 20px 10px -20px black;
    display:flex;
    align-items: center;
    justify-content: center;
border-top-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.signup-container{
    width:90%;
    height:450px;
    display:flex;
    flex-direction:column;
}
.head{
    height:20%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.content{
    height:70%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signin{
    height:10%;
    width:100%;
}
p{
    font-size: 30px;
    color:green;
    font-family:cursive;
    font-weight: bold; 
    margin-top: 30px;
}
label{
    color:black;
    font-weight: bold;
    font-size: 18px;
}
input{
    height:45px;
    width:250px;
    border:none;
    padding-left: 20px;
    margin:2px;
    border-radius: 5px;
    background-color:white;
}
input::placeholder{
    color:black;
}
button{
    width:150px;
    height:40px;
    border-radius: 20px;
    margin:5px;
    margin-top: 30px;
    border:none;
    font-weight: bold;
    color:black;
}
.form-content{
    margin:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.valid-button {
    background-color: blue;
  }
  
  .invalid-button {
    background-color:green;
  }
