.body{
    width:100%;
    height:710px;
    background-color: blue;
    display:flex;
    align-items: center;
    justify-content: center; 
    background-image:url("./../assets/images/alexandru-acea--WBYxmW4yuw-unsplash.jpg");
    background-size: 100% 710px;
}

.component-class{
    display:flex;
    align-items: center;
    justify-content: center;  
}
