.one{
    font-size: 35px;
    font-weight: bold;
    font-style:sans-serif;
    color:#4d94ff;
    text-align: center;
}
.two{
    font-size: 22px;
    color:darkgray;
    text-align: center;

}
button{
    background-color: #4d94ff;
    width:200px;
    height:50px;
    border-radius: 5px;
    border:none;
}