
<div class="main">
    <div class="one">
       <p class="head">Get the personalized Loan you need</p>
    </div>
    <div class="two">
        <div class="card">
            <div class="data1">
              <img src="./../../assets/images/city.webp">
            </div>
            <div class="data2">
              <h1>
                CITY LOANS</h1>
              <p>Get Your Loan in 3 Easy Steps</p>
              <ul>
                <li>Fill out our short, secure online loan</li>
                   <li>Get approved in as little as 2 minutes.</li> 
                   <li> Your money directly into your account in as little as one business day.</li>
                

              </ul>
            </div>
            <div class="data3">
                <button>Apply Now!</button>
            </div>
            

        </div>

    </div>
    <br>
    <div class="two">
        <div class="card">
            <div class="data1">
              <img class="image" src="./../../assets/images/fpl.webp">
            </div>
            <div class="data2">
              <h1>FIRST PREMIER LENDING</h1>
              <p>Get Your Loan in 3 Easy Steps</p>
              <ul>
                <li>Easy Loan Request</li>
                  <li > Fast Loan Process</li>
                   <li> Receive Your Funds</li>
                

              </ul>
            </div>
            <div class="data3">
                <button>Apply Now!</button>
            </div>
            

        </div>

    </div>
    <br>

</div>



