<div class="main">
    <div class="img">
        <img src="./../../../assets/Images/logo.png">
    </div>
    <div class="content">
        <div class="child-1">
             <h1>CREDIT SCORE</h1>
             <p>Check Online</p>
             <p>Check your Credit Score</p>
        </div>
        <div class="child-2">
            <h1>LOANS</h1>
            <p>Apply Now!</p>
            <p>Personal Loans</p>
            <p class="text">Copyright 2023 Weecredit</p>

        </div>
        <div class="child-3">
                <h1>LEARN ABOUT WEECREDIT</h1>
                <p>About Us</p>
                <p>Contact Us</p>
        </div>

    </div>

</div>
