.main{
    width:100%;
    height:720px;
    background-color:blue;
}

.title{
    font-size: 20px;
    color:white;
    font-weight: bold;
}
.tittle{
    font-size: 20px;
    color:black;
    font-weight: bold;
}
table{
    width:100%;
    border-radius: .8rem;
}
.delete{
    width:80px;
    padding:.4rem 0;
    border-radius:1rem;
    background-color:red;
    color:black;
    text-align: center;
    font-weight: bold;
}

span{
    color:black;
}
h1{
    color:white;
    font-weight: bold;
}
.employeeData{
    width:100%;
    height:720px;
    background-color:white;
    background-size: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
.employeeTableContainer{
    width:80%;
    height:600px;
    display:flex;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 0.8rem;
    box-sizing: border-box;
}
.headerContainer{
    width:97.4%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    height:7%;
    background-color:rgb(17, 10, 144);
    padding:.8rem 1rem;
    display:flex;
}
.addemployee{
    background-color:white;
    width:180px;
    height:45px;
    border-radius: 10px;
    margin-left:68%;
    text-align: center;
}

.body{
    width:100%;
    height:530px;
    background-color:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.employeeReport{
    width:97%;
    height:500px;
    background-color:white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin:.8rem auto;
    border-radius: .6rem;
    overflow:auto;
    scrollbar-width: none;
}
.fas {
    color:black; 
    font-size: 28px;
}
.icon{
    color:black;
    font-size: 28px;
}
.remove{
    color:rgb(255, 1, 1);
    font-size: 28px;
}
table,th,td{
    border-collapse: collapse;
    padding:1rem;
    text-align:center;
}
 th{
    position:sticky;
    top:0;
    left:0;
    background-color:lightgrey;
    text-align: center;
    color:black;
}
tr:first-child:hover{
    background-color:black;
}
tr:nth-child(even){
    background-color:white;
}
tr:nth-child(odd){
    background-color:lightgrey;
}
tr:nth-child(odd):hover {
    background-color:grey;
    color:black;
}

tr:nth-child(even):hover {
    background-color:blue;
    color:white;
}
@media(max-width:1000px){
td:not(:first-of-type){
    min-width: 12rem;
}
.employeeReport::-webkit-scrollbar{
    display:none;
}

}