<div class="head">
    <div class="main">
       <img src="./../../../assets/Images/logo.png">
    </div>
    <div class="link">
        <a routerLink="/credit">creditScore</a>
        <a routerLink="/loans">Loans</a>
    </div>
        
    <div class="nav">
        <button >Home</button>
        <button>About Us</button>
        <button (click)="getPage()">Credit Score</button>
        <button (click)="getloan()">Loans</button>
        <button>Cards</button>
        <button>Contact Us</button>

    </div>
</div>
