<div class="Form" *ngIf="hideForm">
    <div class="ReactiveForm">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <h3>Registration Form</h3>
        <div>
          <label>First Name:</label>
          <input type="text" formControlName="firstName">
        </div>
        <div>
          <label>Last Name:</label>
          <input type="text" formControlName="lastName">
        </div>
        <div>
            <label>City:</label>
            <input type="text" formControlName="city">
          </div>
          <div>
            <label>State:</label>
            <input type="text" formControlName="state">
          </div>
          <div>
            <label>Company:</label>
            <input type="text" formControlName="company">
          </div>
        <div>
          <label>Email:</label>
          <input type="email" formControlName="email">
        </div>
        <div>
          <label>Password:</label>
          <input type="password" formControlName="password">
        </div>
        <button type="submit" [disabled]="myForm.invalid">Submit</button>
      </form>
      </div>
      {{name}}
</div>

