form {
    width: 300px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-left: 10%;
  }
  
  input {
    width:80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10%;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 20px;
    margin-left: 40%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  h3{
    margin-left: 20%;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .ReactiveForm{
    background-color: white;
    height:520px;
    width:350px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 
    10px 0px 15px -10px rgba(0, 0, 0, 0.5), 
    -10px 0px 15px -10px rgba(0, 0, 0, 0.5);
   
  }
  .Form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
  }