div{
    height:350px;
    width:470px;
    margin-left: 20px;
    background-color: yellow;
}
h1{
    margin-left: 150px;
}
h2{
    margin-top: 50px;
}
button{
    width:130px;
    height:40px;
    background-color: grey;
    border-radius: 20px;
    border:none;
    margin-top: 130px;
    margin-left: 60px;
    font-weight: bold;
}

.button{
    margin-top: 10%;
}
