<div (click)="viewmessageBox()">
    <img src="./../../../../assets/inbox-logo.png">
    Inbox
</div>
<div (click)="viewmessageBox()">
    <img src="./../../../../assets/star-logo.png">
    Starred
</div>
<div (click)="viewmessageBox()">
    <img src="./../../../../assets/clock-logo.png">
    Snoozed
</div>
<div (click)="viewmessageBox()">
    <img src="./../../../../assets/sent-logo.png">
    Sent
</div>
<div (click)="viewmessageBox()">
    <img src="./../../../../assets/draft-logo.png">
    Drafts
</div>

